@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assests/img/back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {

    width: 100%;
    height: 50px;
    /* background: red; */
}

.container {
    display: grid;
    place-items: center;
}

.text {
    padding: 30px;
    font-size: 28px;
    text-align: center;
    width: 700px;
    color: white;
    backdrop-filter: blur(60px);
    background: rgba(143, 143, 143, 0.129);
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
}

.container img {
    width: 250px;
}

.btn-nav {
    margin: 60px;
}

.btn-nav button {
    border: 2px solid #fff;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background: rgba(0, 0, 0, 0.317);
    width: 200px;
    height: 80px;
    border-radius: 15px;
    margin-top: 40px;
    transition: 1s;
}

.btn-nav button:hover {
    border: 2px solid rgb(0, 0, 0);
    background: #ffffff;
    backdrop-filter: blur(10px);
    color: black;
}

.no-active {
    margin-left: 40px;
}

.menu {
    position: relative;
    margin: 40px;
    transition: 5s;
}

.menu-line {
    width: 60px;
    height: 4px;
    border-radius: 15px;
    margin-top: 10px;
    background: white;
    margin-top: 25px;
    display: none;
}

.menu-line2 {
    width: 60px;
    height: 4px;
    border-radius: 15px;
    margin-top: 10px;
    background: white;
    display: none;
}

.menu-line3 {
    width: 60px;
    height: 4px;
    border-radius: 15px;
    margin-top: 10px;
    background: white;
    display: none;
}



footer {
    width: 100%;
    height: 100px;
    /* background: red; */
}





@media (max-width: 1020px) {

    body {
        background-size: 1020px 1500px;
    }

    a {
        text-decoration: none;
    }

    .text {
        width: 300px;
        font-size: 20px;
    }

    .container img {
        width: 200px;
    }

    .btn-nav {
        margin: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-nav button {
        width: 300px;
        display: block;
    }

    footer {
        height: 50px;
    }

    .btn-nav {
        display: none;
    }

    .menu .img-remove {
        margin-top: -20px;
        display: none;
        width: 64px;
    }

    .active {
        display: block;
        margin-top: 200px;
    }



    /* .remove {
        margin: 40px;
        display: none;
    } */

    .non-active {
        display: none;
    }

    .menu:hover {
        transform: rotateY(360deg);

    }

    .change_menuline {
        width: 40px;
        transform: rotate(45deg);
        margin-top: 25px;
        position: absolute;
        margin-left: -18px;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 1;
    }

    .change_menuline2 {
        width: 40px;
        transform: rotate(-45deg);
        margin-top: 25px;
        position: absolute;
        margin-left: -18px;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 1;

        /* margin-top: 0px; */
    }

    .change_menuline3 {
        z-index: 0;
        position: absolute;
        width: 64px;
        height: 64px;
        background: rgb(255, 0, 0);
        border-radius: 100%;
        z-index: 0;
        margin: -30px;
    }

    .menu_change {
        margin: 60px;
    }

    .menu-line {
        display: block;
    }

    .menu-line2 {
        display: block;
    }

    .menu-line3 {
        display: block;
    }


    /* .container {
        margin-top: 10px;
        margin-bottom: auto;
    } */

    /* .menu .img-remove {
        display: block;
    }
     */
    .no-active {
        margin-left: 0px;
    }
}